<div class="container">
  <div class="row">
    <div class="col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>User info</h2>
      <%= form_with model: @user do |f| %>
        <% if @user.errors.any? %>
        <div class="alert alert-danger" role="alert">
          <h2 class="alert-heading">
            <%= pluralize(@user.errors.count, "error") %> prohibited this obj from being saved:
          </h2>
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
        <% end %>
        <div class="form-group">
          <%= f.label :name, "Name" %>
          <%= f.text_field :name, class:'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :profile_image, "Image" %>
          <br>
          <%= f.file_field :profile_image, accept: "image/*" %>
        </div>
        <div class="form-group">
          <%= f.label :introduction, "Introduction" %>
          <%= f.text_area :introduction, class:'form-control'%>
        </div>
        <div class="form-group">
          <%= f.submit "Update User", class:'btn btn-secondary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
