<% if book.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <h2 class="alert-heading">
      <%= pluralize(book.errors.count, "error") %> prohibited this obj from being saved:
    </h2>
    <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="col-md-3">
  <h2>User info</h2>
  <%= image_tag user.get_profile_image(100,100) %>
  <table class="table">
    <tbody>
      <tr>
        <th>name</th>
        <th><%= user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%= user.introduction %></th>
      </tr>
    </tbody>
  </table>
  <% if user.name != "guestuser" %>
    <div class="row">
      <%= link_to edit_user_path(user) ,class: "btn btn-outline-secondary btn-block" do %>
        <i class="fas fa-user-cog"></i>
      <% end %>
    </div>
  <% end %>
  <h2 class="mt-3">New book</h2>
  <%= form_with model: book, local: true, html: {class:"form-horizontal"} do |f| %>
    <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class:'form-control' %>
    </div>

    <div class="form-group">
    <%= f.label :body, "Opinion" %>
    <%= f.text_area :body, class:'form-control'%>
    </div>
    <div class="form-group">
    <%= f.submit "Create Book", class:'btn btn-success' %>
    </div>

  <% end %>
</div>