<div class="container">
  <div class="row">
     <%= render 'layouts/errors', obj: @book %>
    <div class="col-md-3">
      <h2>User info</h2>
      <%= render 'users/info', user: @user %>
      <h2 class="mt-3">New Book</h2>
      <%= render 'books/form', book: @book %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <th>
              <%= link_to user_path(@bookid.user) do %>
                <%= image_tag @bookid.user.get_profile_image(100,100) %>
                <br>
                <%= content_tag :div, @bookid.user.name ,class:"text-info"%>
              <% end %>
            </th>
            <th>
              <%= link_to @bookid.title, book_path(@bookid), class:"text-dark" %>
            </th>
            <th>
              <%= content_tag :div, @bookid.body, class: "text-secondary" %>
            </th>
            <th>
              <%= render 'star', book: @bookid %>
            </th>
            <% if @bookid.user == current_user %>
            <th>
              <%= link_to "Edit", edit_book_path(@bookid.id), class:"btn btn-sm btn-success" %>
            </th>
            <th>
               <%= link_to "Destroy", book_path(@bookid.id), class:"btn btn-sm btn-danger", method: :delete, "data-confirm" => "本当に削除しますか？" %>
            </th>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
